<h3>List of Awesome Things</h3>
<ul>
    <li ng-repeat="thing in awesomeThings">
    {{thing}}
    </li>
</ul>

<% if(slds) { %>
<div role="dialog" aria-labelledby="dialog-heading-id" class="slds-docked-composer slds-grid slds-grid--vertical slds-nowrap slds-is-open">
  <header class="slds-docked-composer__header slds-grid slds-grid--align-spread slds-shrink-none">
    <div class="slds-media slds-media--center">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-call">
          <svg aria-hidden="true" class="slds-icon slds-icon--small">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#call"></use>
          </svg>
          <span class="slds-assistive-text">Call Icon</span>
        </span>
      </div>
      <div class="slds-media__body">
        <h2 id="dialog-heading-id" aria-live="polite" aria-atomic="true">Lei Chan - Connecting...</h2>
      </div>
    </div>
    <div class="slds-docked-composer__actions">
      <button class="slds-button slds-button--icon slds-button--icon-inverse">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#minimize_window"></use>
        </svg>
        <span class="slds-assistive-text">Minimize window</span>
      </button>
      <button class="slds-button slds-button--icon slds-button--icon-inverse">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#expand_alt"></use>
        </svg>
        <span class="slds-assistive-text">Expand Composer</span>
      </button>
      <button class="slds-button slds-button--icon slds-button--icon-inverse">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
    </div>
  </header>
  <div class="slds-docked-composer__body slds-col slds-grid slds-grid--vertical slds-nowrap slds-grid--align-center">
    <div class="slds-text-align--center slds-scrollable--y">
      <span class="slds-avatar slds-avatar--large">
        <img src="/assets/images/avatar2.jpg" alt="Lei Chan" />
      </span>
      <h3 class="slds-text-heading--large">Lei Chan</h3>
      <ul class="slds-list--horizontal slds-grid--align-center slds-has-dividers--right slds-text-body--small">
        <li class="slds-item">VP of Sales</li>
        <li class="slds-item ">Acme Corporation</li>
      </ul>
      <p class="slds-text-heading--medium slds-m-top--medium">Connecting...</p>
    </div>
  </div>
  <footer class="slds-docked-composer__footer slds-shrink-none">
    <button class="slds-button slds-button--destructive slds-size--1-of-1">End Call</button>
  </footer>
</div>
<% } %>

<% if(bootstrap) { %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
<% } %>
